.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.gitignore
.vagrant
.venv
venv
env
.ENV
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.dockerignore
README.md
LICENSE
Thumbs.db
.trash
.eggs
dist
build
*.egg-info
*.so
.nyc_output
coverage/
junit.xml
large_datasets/
logs/
tmp/
*.tmp
*.log
.vscode
.idea
*.swp
*.swo
*~
.hypothesis/
.mypy_cache/
.pyre/
.pytype/
cython_debug/